<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="6" name="Critical Path" parallel="tests" >
    <listeners>
        <listener class-name="utilities.WebDriverListener"></listener>
    </listeners>
    <parameter name="browserName" value="chrome" />
    <test name="LoginTest">
        <!--<parameter name="browserName" value="chrome" />-->
        <parameter name="url" value="https://patient.qa.heal.com/login" />
        <classes>
            <!--<class napwa.testsepwa.tests.Test1est1"/>-->
            <class name="patient.tests.LoginTest"/>
            <!--<class name="Test3"/>-->
            <!--<class name="Test4"/>-->
            <!--<class name="Test5"/>-->
            <!--<class name="Test6"/>-->
        </classes>
    </test>
    <!--<test name="LoginTest1">-->
        <!--&lt;!&ndash;<parameter name="browserName" value="chrome" />&ndash;&gt;-->
        <!--<parameter name="url" value="https://patient.qa.heal.com/login" />-->
        <!--<classes>-->
            <!--&lt;!&ndash;<class napwa.testsepwa.tests.Test1est1"/>&ndash;&gt;-->
            <!--<class name="patient.tests.LoginTest"/>-->
            <!--&lt;!&ndash;<class name="Test3"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="Test4"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="Test5"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="Test6"/>&ndash;&gt;-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="LoginTest2">-->
        <!--&lt;!&ndash;<parameter name="browserName" value="chrome" />&ndash;&gt;-->
        <!--<parameter name="url" value="https://patient.qa.heal.com/login" />-->
        <!--<classes>-->
            <!--&lt;!&ndash;<class napwa.testsepwa.tests.Test1est1"/>&ndash;&gt;-->
            <!--<class name="patient.tests.LoginTest"/>-->
            <!--&lt;!&ndash;<class name="Test3"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="Test4"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="Test5"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="Test6"/>&ndash;&gt;-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="LoginTest3">-->
        <!--&lt;!&ndash;<parameter name="browserName" value="safari" />&ndash;&gt;-->
        <!--<parameter name="url" value="https://patient.qa.heal.com/login" />-->
        <!--<classes>-->
            <!--&lt;!&ndash;<class napwa.testsepwa.tests.Test1est1"/>&ndash;&gt;-->
            <!--<class name="patient.tests.LoginTest"/>-->
            <!--&lt;!&ndash;<class name="Test3"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="Test4"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="Test5"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="Test6"/>&ndash;&gt;-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="LoginTest4">-->
        <!--&lt;!&ndash;<parameter name="browserName" value="firefox" />&ndash;&gt;-->
        <!--<parameter name="url" value="https://patient.qa.heal.com/login" />-->
        <!--<classes>-->
            <!--&lt;!&ndash;<class napwa.testsepwa.tests.Test1est1"/>&ndash;&gt;-->
            <!--<class name="patient.tests.LoginTest"/>-->
            <!--&lt;!&ndash;<class name="Test3"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="Test4"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="Test5"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="Test6"/>&ndash;&gt;-->
        <!--</classes>-->
    <!--</test>-->
</suite> <!-- Suite -->
